/* Variabel biar gampang */
:root {
  --mainColor: #252734;
  --secondaryColor: #333646;
  --acsentColor: #ff9100;
}

body {
  background-color: var(--mainColor);
  min-height: 900px;
  font-family: "ubuntu", sans-serif;
}

section h1 {
  color: #fff;
  font-size: 2.5rem;
}

/* style navbar */

.nav-link.active {
  color: var(--acsentColor) !important;
  font-weight: 700;
}
.nav-dark {
  background-color: var(--secondaryColor) !important ;
  z-index: 10;
  transition: 0.5s;
}
/* end nav */

/* section hero */

.color-acsent {
  color: var(--acsentColor);
}

#hero {
  color: #fff;
  min-height: 100vh;
  padding-top: 75px;
}

#hero h1 {
  font-size: 3rem;
}

#hero h2 {
  font-weight: 300;
}

#hero p {
  font-size: 1.1rem;
  font-weight: 300;
}

.btn-costum1 {
  background-color: var(--acsentColor);
  text-align: center;
  color: #fff;
  min-width: 150px;
  height: 45px;
  font-weight: 700;
  font-size: 1.2rem;
}

.btn-costum1:hover {
  box-shadow: 0 0 5px rgba(255, 166, 0, 0.8);
}

.cv {
  color: #fff;
  cursor: pointer;
  font-size: 1.1rem;
}

.social-icon svg {
  margin-right: 0.7em;
  margin-bottom: 10px;
}

.social-icon {
  background-position: left bottom;
  position: relative;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-top: 80px;
}

/* end hero */

/* about */

hr {
  width: 35%;
  height: 5px;
  color: var(--acsentColor);
  margin: 0 auto;
  opacity: 100%;
}

#about {
  min-height: 300px;
  width: 100%;
  background-color: var(--secondaryColor);
  color: #fff;
  padding-top: 80px;
  padding-bottom: 80px;
  margin-bottom: 80px;
}

/* akhir about */

/* skill */

#skill {
  min-height: 600px;
  width: 100%;
  color: #fff;
}

#skill img {
  width: 12%;
  margin: 10px;
}

#skill .card {
  background-color: #414558;
  height: 340px;
}

#skill .card:hover {
  background-color: var(--acsentColor);
}

.skill-konten {
  margin-top: 120px;
}

/* end skill  */

/* contact */

#contact .warna-tulis {
  color: var(--acsentColor);
}

#contact {
  background-color: var(--secondaryColor);
  min-height: 300px;
  margin-top: 100px;
}

.btn-costum2 {
  background-color: var(--acsentColor);
  color: #fff;
  min-width: 150px;
  height: 45px;
  font-weight: 700;
  font-size: 1.2rem;
  margin-bottom: 20px;
}

a {
  text-decoration: none;
}

/* akhir contact */
